@{
	ViewData["Title"] = "master GI P3";
}

<style>
	.flex {
		display: flex;
	}

	.k-grid-footer {
		display: none;
	}

	.page-main {
		margin-top: 100px;
		margin-left: 30px;
	}

	.k-grid {
		border-color: #fafafa;
		font-size: 13px;
	}

	.k-toolbar {
		background-color: white;
	}

	.k-grid-content {
		height: 55vh;
	}

	.btn {
		background-color: #325082;
		color: white;
	}

	.green {
		background-color: #1D6F42 !important;
		color: white;
	}

	.spacew {
		width: 10px;
	}

	/* The Modal (background) */
	#myModal {
		display: none;
		/* Hidden by default */
		position: fixed;
		/* Stay in place */
		z-index: 1;
		/* Sit on top */
		padding-top: 100px;
		/* Location of the box */
		left: 0;
		top: 0;
		width: 100%;
		/* Full width */
		height: 100%;
		/* Full height */
		overflow: auto;
		/* Enable scroll if needed */
		background-color: rgb(0, 0, 0);
		/* Fallback color */
		background-color: rgba(0, 0, 0, 0.4);
		/* Black w/ opacity */
	}

	/* Modal Content */
	.modal-content {
		background-color: #fefefe;
		position: absolute;
		float: left;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		padding: 20px;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		width: 50%;
	}

	/* The Close Button */
	.close {
		color: #aaaaaa;
		float: right;
		font-size: 28px;
		font-weight: bold;
	}

		.close:hover,
		.close:focus {
			color: #000;
			text-decoration: none;
			cursor: pointer;
		}

	hr {
		background-color: #aaaaaa !important;
	}

	@@media screen and (max-width: 1400px) {
		.page-main {
			margin-top: 70px;
		}

		.k-grid-content {
			height: 45vh;
		}

		.modal-content {
			width: 70%;
		}
	}
</style>


<div class="page-main">
	<div class="page-content">
		<h3>master GI P2</h3>
		<hr>
		<div id="grid" style="margin-top:5px; margin-bottom:5px;"></div>
		<!-- The Modal -->
		<div id="myModal" class="modal">
			<!-- Modal content -->
			<div class="modal-content">
				<div class="" role="document">
					<div class="modal-header">
						<h4 class="modal-title" id="myModalLabel">Add New</h4>
					</div>
					<div class="modal-body">
						<div class="panel">
							<div class="panel-body">
								<form class="form-horizontal" id="submitForm">
									<div class="flex">
										<div class="form-group form-material col-md-4">
											<label class="col-sm-10 control-label">Plant</label>
											<div class="col-sm-10">
												<input class="form-control" id="PlantID" required />
											</div>
										</div>
									</div>
									<div class="flex">
										<div class="form-group form-material col-md-4">
											<label class="col-sm-10 control-label">Gedung</label>
											<div class="col-sm-10">
												<input class="form-control" id="BuildingId" required />
											</div>
										</div>
									</div>
									<div class="flex">
										<div class="form-group form-material col-md-4">
											<label class="col-sm-10 control-label">Part Number</label>
											<div class="col-sm-10">
												<input class="form-control" id="PartNo" required />
											</div>
										</div>
									</div>

									<div class="flex">
										<div class="form-group form-material col-md-6">
											<label class="col-sm-10 control-label">GL Account</label>
											<div class="col-sm-10">
												<input type="text" class="form-control" id="GLAccount" required />
											</div>
										</div>
									</div>
									<div class="flex">
										<div class="form-group form-material col-md-6">
											<label class="col-sm-10 control-label">Cost Center</label>
											<div class="col-sm-10">
												<input type="text" class="form-control" id="CostCenter" required />
											</div>
										</div>
									</div>
									<div class="flex">
										<div class="form-group form-material col-md-6">
											<label class="col-sm-10 control-label">Movement Type</label>
											<div class="col-sm-10">
												<input type="text" class="form-control" id="MovementType" required />
											</div>
										</div>
									</div>
									<div class="flex">
										<div class="form-group form-material col-md-6">
											<label class="col-sm-10 control-label">Plant From</label>
											<div class="col-sm-10">
												<input type="text" class="form-control" id="PlantFrom" required />
											</div>
										</div>
									</div>
									<br />
									<div>
										<button type="button" class="btn btn-red" id="btnCancel">Cancel</button>
										<input class="btn btn-primary" id="btnSave" value="Save" type="submit" />
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	var DeptId = '0'; var IUType = 'I';


	$("#PlantID").kendoDropDownList({
		template: '<span>#:data.PlantID# - #:data.PlantName#</span>',
		valueTemplate: '<span>#:data.PlantID# - #:data.PlantName#</span>',
		footerTemplate: 'Total number of <strong>#: instance.dataSource.total() #</strong> Plant found',
		optionLabel: "select user group...",
		dataValueField: "PlantID",
		dataSource: {
			transport: {
				read: function (options) {
					$.ajax({
						method: 'post',
						headers: { 'Content-Type': 'application/json', 'XApiKey': 'pgH7QzFHJx4w46fI~5Uzi4RvtTwlEXp' },
						url: 'https://localhost:7072/api/DropDown/INQ',
						dataType: 'text',
						data: JSON.stringify({ Ftype: "Plant", Plant: "" })
					}).done(function (data, textStatus, jqXHR) {
						try {
							var result = JSON.parse(data);
						}
						catch (e) {
							swal.fire('Error', 'Error loading grid', 'error');
							options.success({ data: [] });
							return;
						}
						options.success(result);
					}).fail(function (jqXHR, textStatus, errorThrown) {
						swal.fire('Error', (jqXHR.responseText !== '' ? ': ' + jqXHR.responseText : ''), 'error');
						options.success({ data: [] });
					});
				}
			}
		},
		change: function (e) {
			var value = this.value();
			getShop(value);
			// Use the value of the widget
		}
	}).data("kendoDropDownList");

	function getShop(plant) {

		$("#BuildingId").kendoDropDownList({
			template: '<span>#:data.ShopId# - #:data.ShopName#</span>',
			valueTemplate: '<span>#:data.ShopId# - #:data.ShopName#</span>',
			footerTemplate: 'Total number of <strong>#: instance.dataSource.total() #</strong> Shop found',
			optionLabel: "select Building...",
			dataValueField: "ShopId",
			dataSource: {
				transport: {
					read: function (options) {
						$.ajax({
							method: 'post',
							headers: { 'Content-Type': 'application/json', 'XApiKey': 'pgH7QzFHJx4w46fI~5Uzi4RvtTwlEXp' },
							url: 'https://localhost:7072/api/DropDown/INQ',
							dataType: 'text',
							data: JSON.stringify({ Ftype: "Shop", Plant: plant })
						}).done(function (data, textStatus, jqXHR) {
							try {
								var result = JSON.parse(data);
							}
							catch (e) {
								swal.fire('Error', 'Error loading grid', 'error');
								options.success({ data: [] });
								return;
							}
							options.success(result);
						}).fail(function (jqXHR, textStatus, errorThrown) {
							swal.fire('Error', (jqXHR.responseText !== '' ? ': ' + jqXHR.responseText : ''), 'error');
							options.success({ data: [] });
						});
					}
				}
			},
			change: function (e) {
				var value = this.value();
				getDept(plant, value);
				// Use the value of the widget
			}
		}).data("kendoDropDownList");
	}

	function getDept(plant, shop) {

		$("#PartNo").kendoDropDownList({
			template: '<span>#:data.DeptID# - #:data.DeptName#</span>',
			valueTemplate: '<span>#:data.DeptID# - #:data.DeptName#</span>',
			footerTemplate: 'Total number of <strong>#: instance.dataSource.total() #</strong> Shop found',
			optionLabel: "select Part No...",
			dataValueField: "DeptID",
			dataSource: {
				transport: {
					read: function (options) {
						$.ajax({
							method: 'post',
							headers: { 'Content-Type': 'application/json', 'XApiKey': 'pgH7QzFHJx4w46fI~5Uzi4RvtTwlEXp' },
							url: 'https://localhost:7072/api/DropDown/INQ',
							dataType: 'text',
							data: JSON.stringify({ Ftype: "Dept", Plant: plant })
						}).done(function (data, textStatus, jqXHR) {
							try {
								var result = JSON.parse(data);
							}
							catch (e) {
								swal.fire('Error', 'Error loading grid', 'error');
								options.success({ data: [] });
								return;
							}
							options.success(result);
						}).fail(function (jqXHR, textStatus, errorThrown) {
							swal.fire('Error', (jqXHR.responseText !== '' ? ': ' + jqXHR.responseText : ''), 'error');
							options.success({ data: [] });
						});
					}
				}
			}
		}).data("kendoDropDownList");
	}


	var AppD = {
		attachEvents: function () {
			var o = this;

			o.dom.$grid.on('click', '#btnCreate', o.eventHandlers.onClickBtnCreate.bind(o));
			o.dom.$grid.on('click', '#btnExcel', o.eventHandlers.onClickBtnExcel.bind(o));

			o.dom.$grid.on('click', '.btnUpdate', o.eventHandlers.onClickBtnUpdate.bind(o));
			o.dom.$grid.on('click', '.btnDelete', o.eventHandlers.onClickBtnDelete.bind(o));
		},
		cacheDom: function () {
			var o = this;
			o.dom.$grid = $("#grid");
			o.dom.inputs = {};
			o.dom.inputs.$inputPlantID = $("#PlantID");
			o.dom.inputs.$inputDeptName = $("#DeptName");
		},
		data: {},
		dom: {},
		eventHandlers: {
			onClickBtnCreate: function () {
				var o = this;
				$('#myModalLabel').html('Add New');
				DeptId = '0';
				IUType = 'I';
				o.dom.inputs.$inputDeptName.val('');
				o.dom.inputs.$inputPlantID.data("kendoDropDownList").value('');
				getShop('X');
				getDept('X');
				var modal = document.getElementById("myModal");
				modal.style.display = "block";
				window.onclick = function (event) {
					if (event.target == modal) {
						modal.style.display = "none";
					}
				}
				var cancel = document.getElementById("btnCancel");
				cancel.onclick = function () {
					modal.style.display = "none";
				}
			},
			onClickBtnDelete: function (e) {
				var o = this;
				var di = o.dom.$grid.data('kendoGrid').dataItem($(e.target).closest('tr'));

				swal.fire({
					title: 'Delete?',
					text: "You won't be able to revert this!",
					icon: 'warning',
					showCancelButton: true,
					confirmButtonText: 'Yes'
				}).then((result) => {
					if (result.isConfirmed) {
						$.ajax({
							method: 'post',
							headers: { 'Content-Type': 'application/json', 'XApiKey': 'pgH7QzFHJx4w46fI~5Uzi4RvtTwlEXp' },
							url: 'https://localhost:7072/api/masterGIP3/DEL',
							dataType: 'text',
							data: JSON.stringify({
								DeptId: di.DeptId
							})
						}).done(function (data, textStatus, jqXHR) {
							if (data !== 'success') {
								swal.fire('', data, 'error');
								return;
							}
							swal.fire({ title: 'Success', text: 'Data deleted', icon: 'success', timer: 2000, showConfirmButton: false });
						}).fail(function (jqXHR, textStatus, errorThrown) {
							swal.fire('Error', (jqXHR.responseText !== '' ? ': ' + jqXHR.responseText : ''), 'error');
						}).always(function (data_or_jqXHR, textStatus, jqXHR_or_errorThrown) {
							o.dom.$grid.data('kendoGrid').dataSource.read();
						});
					}
				});
			},
			onClickBtnExcel: function () {
				var o = this;
				o.dom.$grid.data('kendoGrid').saveAsExcel();
			},
			onClickBtnUpdate: function (e) {
				var o = this;
				$('#myModalLabel').html('Edit GIP3');
				var di = o.dom.$grid.data('kendoGrid').dataItem($(e.target).closest('tr'));

				o.dom.inputs.$inputDeptName.val(di.DeptName);
				o.dom.inputs.$inputPlantID.data("kendoDropDownList").value(di.PlantID);
				getShop(di.PlantID);
				getDept(di.PlantID);
				$("#ShopId").data("kendoDropDownList").value(di.ShopId);
				DeptId = di.DeptId;
				IUType = 'U';

				var modal = document.getElementById("myModal");
				modal.style.display = "block";
				window.onclick = function (event) {
					if (event.target == modal) {
						modal.style.display = "none";
					}
				}
				var cancel = document.getElementById("btnCancel");
				cancel.onclick = function () {
					modal.style.display = "none";
				}
			}
		},
		init: function () {
			var o = this;
			o.cacheDom();
			o.attachEvents();
			o.initElements();
		},
		initElements: function () {
			var o = this;

			o.dom.$grid.kendoGrid({
				excel: {
					fileName: "master GI P3.xlsx",
					allPages: true,
					filterable: true
				},
				dataSource: {
					transport: {
						read: function (options) {
							$.ajax({
								method: 'post',
								headers: { 'Content-Type': 'application/json', 'XApiKey': 'pgH7QzFHJx4w46fI~5Uzi4RvtTwlEXp' },
								url: 'https://localhost:7072/api/MasterGIP2/INQ',
								dataType: 'text',
								data: JSON.stringify({
									UserLogin: "@Context.Session.GetString("PIC_ID")"
								})
							}).done(function (data, textStatus, jqXHR) {
								try {
									var result = JSON.parse(data);
								}
								catch (e) {
									swal.fire('Error', 'Error loading grid', 'error');
									options.success({ data: [] });
									return;
								}
								options.success(result);
							}).fail(function (jqXHR, textStatus, errorThrown) {
								swal.fire('Error', (jqXHR.responseText !== '' ? ': ' + jqXHR.responseText : ''), 'error');
								options.success({ data: [] });
							});
						}
					},
					schema: {
						model: {
							id: "PIC_ID",
							fields: {

								GIP3Id: { type: "string" },
								PlantId: { type: "string" },
								PlantName: { type: "string" },
								BuildingId: { type: "string" },
								BuildingName: { type: "string" },
								PartNumber: { type: "string" },
								PartDescription: { type: "string" },
								PartName: { type: "string" },
								GLAccount: { type: "string" },
								CostCenter: { type: "string" },
								MovementType: { type: "string" },
								PlantFrom: { type: "string" },
								UserUpdate: { type: "string" },
								DateUpdate: { type: "string" },
								Remarks: { type: "string" }
							}
						}
					},
					pageSize: 20
				},
				scrollable: true,
				sortable: true,
				resizable: true,
				reorderable: true,
				filterable: {
					extra: false,
					operators: {
						string: {
							contains: "Contains",
							eq: "Equal to",
							neq: "Not equal to"
						}
					}
				},
				pageable: {
					refresh: true,
					input: true,
					numeric: true,
					pageSizes: true,
					buttonCount: 5
				},
				columns: [
	@if (Context.Session.GetString("edit_master_gi_p3") == "True")
	{
		<text>
						{
							width: 25,
							command: [{
								name: "Update",
								text: "<i class='fas fa-edit btnUpdate' title='Update' style='font-size:18px;'></i>"
							}]
						},
		</text>
	}
	@if (Context.Session.GetString("del_master_gi_p3") == "True")
	{
		<text>
						{
							width: 25,
							command: [{
								name: "Delete",
								text: "<i class='fas fa-trash btnDelete red' title='Delete' style='font-size:18px;'></i>"
							}]
						},
		</text>
	}
					{
						field: "PlantId",
						title: "Plant",
						width: 50
					},
					{
						field: "ShopName",
						title: "Shop",
						width: 150
					},
					{
						field: "DeptId",
						title: "Department",
						width: 100,
						hidden: true
					},
					{
						field: "DeptName",
						title: "Department Name",
						width: 100,
					},
					{
						title: "Last Update",
						columns: [
							{
								field: "UserUpdate",
								title: "User",
								width: 100
							},
							{
								field: "DateUpdate",
								title: "Date",
								width: 100
							}]
					}],
				toolbar: $("#template_toolbar").html(),
			});

			$("#submitForm").submit(function (e) {
				e.preventDefault(); // avoid to execute the actual submit of the form.

				var PlantID = $("#PlantID").val();
				var ShopId = $("#ShopId").val();
				var DeptName = $("#DeptName").val();
				swal.fire({
					title: "Save?",
					icon: 'question',
					showCancelButton: true,
					confirmButtonText: 'Yes'
				}).then((result) => {
					if (result.isConfirmed) {
						$.ajax({
							method: 'post',
							headers: { 'Content-Type': 'application/json', 'XApiKey': 'pgH7QzFHJx4w46fI~5Uzi4RvtTwlEXp' },
							url: 'https://localhost:7072/api/masterGIP3/INS',
							dataType: 'text',
							data: JSON.stringify({
								ShopId: ShopId,
								DeptId: DeptId,
								DeptName: DeptName,
								PlantID: PlantID,
								IUType: IUType,
								UserLogin: "@Context.Session.GetString("PIC_ID")"
							})
						}).done(function (data, textStatus, jqXHR) {
							if (data !== 'success') {
								swal.fire('Error', data, 'error');
								return;
							}
							var modal = document.getElementById("myModal");
							modal.style.display = "none";
							swal.fire({ title: 'Success', text: 'Data saved', icon: 'success', timer: 2000, showConfirmButton: false });
						}).fail(function (jqXHR, textStatus, errorThrown) {
							swal.fire('Error', (jqXHR.responseText !== '' ? ': ' + jqXHR.responseText : ''), 'error');
						}).always(function (data_or_jqXHR, textStatus, jqXHR_or_errorThrown) {
							o.dom.$grid.data('kendoGrid').dataSource.read();
						});
					}
				});
			});
		}
	};

	$(function () {
		AppD.init();
	});
</script>

<script type="text/x-kendo-template" id="template_toolbar">
	<div class="toolbar">
	@if (Context.Session.GetString("add_master_gi_p3") == "True")
	{
							<button data-toggle="tooltip" title="Create" type="button" class="btn ink-reaction btn-floating-action btn-xs " id="btnCreate">
								<i class="k-icon k-i-plus"></i><span>Add New</span>
							</button>
								<div class = "spacew"></div>
							<button data-toggle="tooltip" title="Upload" type="button" class="btn ink-reaction btn-floating-action btn-xs " id="btnUpload">
								<i class="k-icon k-i-upload"></i><span>Upload</span>
							</button>
							<div class = "spacew"></div>
							<button data-toggle="tooltip" title="Download" type="button" class="btn ink-reaction btn-floating-action btn-xs " id="btnDownload">
								<i class="k-icon k-i-download"></i><span>Download</span>
							</button>
							<div class = "spacew"></div>
	}
		<button data-toggle="tooltip" title="Save as Excel" type="button" class="btn ink-reaction btn-floating-action btn-xs green" id="btnExcel">
			<i class="k-icon k-i-excel"></i><span>Save as Excel</span>
		</button>
	</div>
</script>