@{
    ViewData["Title"] = "Master Supplier";
}

<style>
    .flex {
        display: flex;
    }

    .k-grid-footer {
        display: none;
    }

    .page-main {
        margin-top: 100px;
        margin-left: 30px;
    }

    .k-grid {
        border-color: #fafafa;
        font-size: 13px;
    }

    .k-toolbar {
        background-color: white;
    }

    .k-grid-content {
        height: 55vh;
    }

    .btn {
        background-color: #325082;
        color: white;
    }

    .green {
        background-color: #1D6F42 !important;
        color: white;
    }

    .spacew {
        width: 10px;
    }

    /* The Modal (background) */
    #myModal {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        padding-top: 100px;
        /* Location of the box */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4);
        /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        position: absolute;
        float: left;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        width: 50%;
    }

    /* The Close Button */
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

    hr {
        background-color: #aaaaaa !important;
    }

    @@media screen and (max-height: 1400px) {
        .page-main {
            margin-top: 70px;
        }

        .k-grid-content {
            height: 45vh;
        }
    }
</style>

<div class="page-main">
    <div class="page-content">
        <h3>Master Supplier</h3>
        <hr>
        <div id="grid" style="margin-top:5px; margin-bottom:5px;"></div>
        <!-- The Modal -->
        <div id="myModal" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
                <div class="" role="document">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Add New Supplier</h4>
                    </div>
                    <div class="modal-body">
                        <div class="panel">
                            <div class="panel-body">
                                <form class="form-horizontal" id="submitMasterSupplier">
                                    <div class="flex">
                                        <div class="form-group form-material col-md-6">
                                            <label class="col-sm-10 control-label">Supplier Code</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="Supplier_Code" required />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex">
                                        <div class="form-group form-material col-md-6">
                                            <label class="col-sm-10 control-label">Supplier Name</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="Supplier_Name" required />
                                            </div>
                                        </div>
                                        <div class="form-group form-material col-md-6">
                                            <label class="col-sm-10 control-label">Supplier Email</label>
                                            <div class="col-sm-10">
                                                <input type="email" class="form-control" id="Supplier_Email" pattern="^[a-zA-Z0-9._+-]+&#64;[a-zA-Z0-9.-]+\.[a-zA-Z]{2,9}$" required />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex">
                                        <div class="form-group form-material col-md-12">
                                            <label class="col-sm-11 control-label">Area Code</label>
                                            <div class="col-sm-11">
                                                <input class="form-control" id="Area_Code" required />
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <div>
                                        <button type="button" class="btn btn-red" id="btnCancel">Cancel</button>
                                        <input class="btn btn-primary" id="btnSave" value="Save" type="submit" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var AppD = {
        attachEvents: function () {
            var o = this;

            o.dom.$grid.on('click', '#btnCreate', o.eventHandlers.onClickBtnCreate.bind(o));
            o.dom.$grid.on('click', '#btnExcel', o.eventHandlers.onClickBtnExcel.bind(o));

            o.dom.$grid.on('click', '.btnUpdate', o.eventHandlers.onClickBtnUpdate.bind(o));
            o.dom.$grid.on('click', '.btnDelete', o.eventHandlers.onClickBtnDelete.bind(o));
        },
        cacheDom: function () {
            var o = this;
            o.dom.$grid = $("#grid");
            o.dom.inputs = {};
            o.dom.inputs.$inputSupplierCode = $("#Supplier_Code");
            o.dom.inputs.$inputSupplierName = $("#Supplier_Name");
            o.dom.inputs.$inputSupplierEmail = $("#Supplier_Email");
            o.dom.inputs.$inputAreaCode = $("#Area_Code");
        },
        data: {},
        dom: {},
        eventHandlers: {
            onClickBtnCreate: function () {
                var o = this;

                o.dom.inputs.$inputSupplierCode.val('');
                o.dom.inputs.$inputSupplierName.val('');
                o.dom.inputs.$inputSupplierEmail.val('');
                o.dom.inputs.$inputAreaCode.data("kendoDropDownList").value('');
                document.getElementById("Supplier_Code").disabled = false;

                var modal = document.getElementById("myModal");
                modal.style.display = "block";
                window.onclick = function (event) {
                    if (event.target == modal) {
                        modal.style.display = "none";
                    }
                }
                var cancel = document.getElementById("btnCancel");
                cancel.onclick = function () {
                    modal.style.display = "none";
                }
            },
            onClickBtnDelete: function (e) {
                var o = this;
                var di = o.dom.$grid.data('kendoGrid').dataItem($(e.target).closest('tr'));

                swal.fire({
                    title: 'Delete?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Yes'
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            method: 'post',
                            headers: { 'Content-Type': 'application/json', 'XApiKey': 'pgH7QzFHJx4w46fI~5Uzi4RvtTwlEXp' },
                            url: 'https://localhost:7072/api/MasterSupplier/DEL',
                            dataType: 'text',
                            data: JSON.stringify({
                                Supplier_Code: di.Supplier_Code
                            })
                        }).done(function (data, textStatus, jqXHR) {
                            if (data !== 'success') {
                                swal.fire('', data, 'error');
                                return;
                            }
                            swal.fire({ title: 'Success', text: 'Data deleted', icon: 'success', timer: 2000, showConfirmButton: false });
                        }).fail(function (jqXHR, textStatus, errorThrown) {
                            swal.fire('Error', (jqXHR.responseText !== '' ? ': ' + jqXHR.responseText : ''), 'error');
                        }).always(function (data_or_jqXHR, textStatus, jqXHR_or_errorThrown) {
                            o.dom.$grid.data('kendoGrid').dataSource.read();
                        });
                    }
                });
            },
            onClickBtnExcel: function () {
                var o = this;
                o.dom.$grid.data('kendoGrid').saveAsExcel();
            },
            onClickBtnUpdate: function (e) {
                var o = this;
                var di = o.dom.$grid.data('kendoGrid').dataItem($(e.target).closest('tr'));

                o.dom.inputs.$inputSupplierCode.val(di.Supplier_Code);
                o.dom.inputs.$inputSupplierName.val(di.Supplier_Name);
                o.dom.inputs.$inputSupplierEmail.val(di.Supplier_Email);
                o.dom.inputs.$inputAreaCode.data("kendoDropDownList").value(di.Area_Code);
                document.getElementById("Supplier_Code").disabled = true;

                var modal = document.getElementById("myModal");
                modal.style.display = "block";
                window.onclick = function (event) {
                    if (event.target == modal) {
                        modal.style.display = "none";
                    }
                }
                var cancel = document.getElementById("btnCancel");
                cancel.onclick = function () {
                    modal.style.display = "none";
                }
            }
        },
        init: function () {
            var o = this;
            o.cacheDom();
            o.attachEvents();
            o.initElements();
        },
        initElements: function () {
            var o = this;

            o.dom.$grid.kendoGrid({
                excel: {
                    fileName: "Master Supplier.xlsx",
                    allPages: true,
                    filterable: true
                },
                dataSource: {
                    transport: {
                        read: function (options) {
                            $.ajax({
                                method: 'post',
                                headers: { 'Content-Type': 'application/json', 'XApiKey': 'pgH7QzFHJx4w46fI~5Uzi4RvtTwlEXp' },
                                url: 'https://localhost:7072/api/MasterSupplier/INQ',
                                dataType: 'text',
                                data: {}
                            }).done(function (data, textStatus, jqXHR) {
                                try {
                                    var result = JSON.parse(data);
                                }
                                catch (e) {
                                    swal.fire('Error', 'Error loading grid', 'error');
                                    options.success({ data: [] });
                                    return;
                                }
                                options.success(result);
                            }).fail(function (jqXHR, textStatus, errorThrown) {
                                swal.fire('Error', (jqXHR.responseText !== '' ? ': ' + jqXHR.responseText : ''), 'error');
                                options.success({ data: [] });
                            });
                        }
                    },
                    schema: {
                        model: {
                            id: "Supplier_Code",
                            fields: {
                                Supplier_Code: { type: "string" },
                                Supplier_Name: { type: "string" },
                                Supplier_Email: { type: "string" },
                                Area_Code: { type: "string" },
                                Area_Name: { type: "string" },
                                UserLogin: { type: "string" }
                            }
                        }
                    },
                    pageSize: 20
                },
                scrollable: true,
                sortable: true,
                resizable: true,
                reorderable: true,
                filterable: {
                    extra: false,
                    operators: {
                        string: {
                            contains: "Contains",
                            eq: "Equal to",
                            neq: "Not equal to"
                        }
                    }
                },
                pageable: {
                    refresh: true,
                    input: true,
                    numeric: true,
                    pageSizes: true,
                    buttonCount: 5
                },
                columns: [
                @if(Context.Session.GetString("edit_master_supplier") == "1")
                {
                    <text>
                    {
                        width: 50,
                        command: [{
                            name: "Update",
                            text: "<i class='fas fa-edit btnUpdate' title='Update' style='font-size:18px;'></i>"
                        }]
                    },
                    </text>
                }
                @if (Context.Session.GetString("del_master_supplier") == "1")
                {
                    <text>
                    {
                        width: 50,
                        command: [{
                            name: "Delete",
                            text: "<i class='fas fa-trash btnDelete red' title='Delete' style='font-size:18px;'></i>"
                        }]
                    },
                    </text>
                }
                {
                    field: "Supplier_Code",
                    title: "Supplier Code",
                    width: 70
                },
                {
                    field: "Supplier_Name",
                    title: "Supplier Name",
                    width: 200
                },
                {
                    field: "Supplier_Email",
                    title: "Supplier Email",
                    width: 120
                },
                {
                    field: "Area_Code",
                    title: "Area Code",
                    width: 70,
                    hidden: true
                },
                {
                    field: "Area_Name",
                    title: "Area Name",
                    width: 120
                }],
                toolbar: $("#template_toolbar").html(),
            });

            $("#Area_Code").kendoDropDownList({
                template: '<span>#:data.Area_Code# - #:data.Area_Name#</span>',
                valueTemplate: '<span>#:data.Area_Code# - #:data.Area_Name#</span>',
                footerTemplate: 'Total number of <strong>#: instance.dataSource.total() #</strong> Area found',
                dataValueField: "Area_Code",
                optionLabel: "select area...",
                dataSource: {
                    transport: {
                        read: function (options) {
                            $.ajax({
                                method: 'post',
                                headers: { 'Content-Type': 'application/json', 'XApiKey': 'pgH7QzFHJx4w46fI~5Uzi4RvtTwlEXp' },
                                url: 'https://localhost:7072/api/MasterArea/INQ',
                                dataType: 'text',
                                data: {}
                            }).done(function (data, textStatus, jqXHR) {
                                try {
                                    var result = JSON.parse(data);
                                }
                                catch (e) {
                                    swal.fire('Error', 'Error loading area', 'error');
                                    options.success({ data: [] });
                                    return;
                                }
                                options.success(result);
                            }).fail(function (jqXHR, textStatus, errorThrown) {
                                swal.fire('Error', (jqXHR.responseText !== '' ? ': ' + jqXHR.responseText : ''), 'error');
                                options.success({ data: [] });
                            });
                        }
                    }
                }
            }).data("kendoDropDownList");

            $("#submitMasterSupplier").submit(function (e) {
                e.preventDefault(); // avoid to execute the actual submit of the form.

                var SupplierCode = document.getElementById("Supplier_Code").value;
                var SupplierName = document.getElementById("Supplier_Name").value;
                var SupplierEmail = document.getElementById("Supplier_Email").value;
                var AreaCode = document.getElementById("Area_Code").value;
        
                swal.fire({
                    title: "Save?",
                    icon: 'question',
                    showCancelButton: true,
                    confirmButtonText: 'Yes'
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            method: 'post',
                            headers: { 'Content-Type': 'application/json', 'XApiKey': 'pgH7QzFHJx4w46fI~5Uzi4RvtTwlEXp' },
                            url: 'https://localhost:7072/api/MasterSupplier/INS',
                            dataType: 'text',
                            data: JSON.stringify({
                                Supplier_Code: SupplierCode,
                                Supplier_Name: SupplierName,
                                Supplier_Email: SupplierEmail,
                                Area_Code: AreaCode,
                                UserLogin: "@Context.Session.GetString("PIC_ID")"
                            })
                        }).done(function (data, textStatus, jqXHR) {
                            if (data !== 'success') {
                                swal.fire('Error', data, 'error');
                                return;
                            }
                            var modal = document.getElementById("myModal");
                            modal.style.display = "none";
                            swal.fire({ title: 'Success', text: 'Data saved', icon: 'success', timer: 2000, showConfirmButton: false });
                        }).fail(function (jqXHR, textStatus, errorThrown) {
                            swal.fire('Error', (jqXHR.responseText !== '' ? ': ' + jqXHR.responseText : ''), 'error');
                        }).always(function (data_or_jqXHR, textStatus, jqXHR_or_errorThrown) {
                            $("#grid").data("kendoGrid").dataSource.read();
                        });
                    }
                });
            });
        }
    };

    $(function () {
        AppD.init();
    });
</script>

<script type="text/x-kendo-template" id="template_toolbar">
    <div class="toolbar">
        @if(Context.Session.GetString("add_master_supplier") == "1")
        {
            <button data-toggle="tooltip" title="Create" type="button" class="btn ink-reaction btn-floating-action btn-xs " id="btnCreate">
                <i class="k-icon k-i-plus"></i><span>Add New</span>
            </button>
            <div class = "spacew"></div>
        }
		<button data-toggle="tooltip" title="Save as Excel" type="button" class="btn ink-reaction btn-floating-action btn-xs green" id="btnExcel">
			<i class="k-icon k-i-excel"></i><span>Save as Excel</span>
		</button>
    </div>
</script>