@{
    ViewData["Title"] = "Master RFID";
}

<style>
    .flex {
        display: flex;
    }

    .k-grid-footer {
        display: none;
    }

    .page-main {
        margin-top: 100px;
        margin-left: 30px;
    }

    .k-grid {
        border-color: #fafafa;
        font-size: 13px;
    }

    .k-toolbar {
        background-color: white;
    }

    .k-grid-content {
        height: 55vh;
    }

    .btn {
        background-color: #325082;
        color: white;
    }

    .green {
        background-color: #1D6F42 !important;
        color: white;
    }

    .spacew {
        width: 10px;
    }

    /* The Modal (background) */
    #myModal {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        padding-top: 100px;
        /* Location of the box */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4);
        /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        position: absolute;
        float: left;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        width: 50%;
    }

    /* The Close Button */
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

    hr {
        background-color: #aaaaaa !important;
    }

    @@media screen and (max-height: 1400px) {
        .page-main {
            margin-top: 70px;
        }

        .k-grid-content {
            height: 45vh;
        }
    }
</style>

<div class="page-main">
    <div class="page-content">
        <h3>Master RFID</h3>
        <hr>
        <div id="grid" style="margin-top:5px; margin-bottom:5px;"></div>
        <!-- The Modal -->
        <div id="myModal" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
                <div class="" role="document">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Add New RFID</h4>
                    </div>
                    <div class="modal-body">
                        <div class="panel">
                            <div class="panel-body">
                                <form class="form-horizontal" id="submitMasterRFID">
                                    <div class="flex">
                                        <div class="form-group form-material col-md-6">
                                            <label class="col-sm-10 control-label">Supplier</label>
                                            <div class="col-sm-10">
                                                <input class="form-control" id="Supplier" required />
                                            </div>
                                        </div>
                                        <div class="form-group form-material col-md-6">
                                            <label class="col-sm-10 control-label">Box Type</label>
                                            <div class="col-sm-10">
                                                <input class="form-control" id="RFID_Type" required />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex">
                                        <div class="form-group form-material col-md-12">
                                            <label class="col-sm-11 control-label">RFID</label>
                                            <div class="col-sm-11">
                                                <textarea type="textarea" class="form-control" id="RFID" style="height:150px;" required></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <div>
                                        <button type="button" class="btn btn-red" id="btnCancel">Cancel</button>
                                        <input class="btn btn-primary" id="btnSave" value="Save" type="submit" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var AppD = {
        attachEvents: function () {
            var o = this;

            o.dom.$grid.on('click', '#btnCreate', o.eventHandlers.onClickBtnCreate.bind(o));
            o.dom.$grid.on('click', '#btnExcel', o.eventHandlers.onClickBtnExcel.bind(o));

            o.dom.$grid.on('click', '.btnUpdate', o.eventHandlers.onClickBtnUpdate.bind(o));
            o.dom.$grid.on('click', '.btnDelete', o.eventHandlers.onClickBtnDelete.bind(o));
        },
        cacheDom: function () {
            var o = this;
            o.dom.$grid = $("#grid");
            o.dom.inputs = {};
            o.dom.inputs.$inputRFIDNo = $("#RFID");
            o.dom.inputs.$inputRFIDType = $("#RFID_Type");
            o.dom.inputs.$inputSupplier = $("#Supplier");
        },
        data: {},
        dom: {},
        eventHandlers: {
            onClickBtnCreate: function () {
                var o = this;
                o.dom.inputs.$inputRFIDNo.val('');
                o.dom.inputs.$inputRFIDType.data("kendoDropDownList").value('');
                o.dom.inputs.$inputSupplier.data("kendoDropDownList").value('');
                document.getElementById("RFID").disabled = false;

                var modal = document.getElementById("myModal");
                modal.style.display = "block";
                window.onclick = function (event) {
                    if (event.target == modal) {
                        modal.style.display = "none";
                    }
                }
                var cancel = document.getElementById("btnCancel");
                cancel.onclick = function () {
                    modal.style.display = "none";
                }
            },
            onClickBtnDelete: function (e) {
                var o = this;
                var di = o.dom.$grid.data('kendoGrid').dataItem($(e.target).closest('tr'));

                swal.fire({
                    title: 'Delete?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Yes'
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            method: 'post',
                            headers: { 'Content-Type': 'application/json', 'XApiKey': 'pgH7QzFHJx4w46fI~5Uzi4RvtTwlEXp' },
                            url: 'https://localhost:7072/api/MasterRFID/DEL',
                            dataType: 'text',
                            data: JSON.stringify({
                                RFID_No: di.RFID_No
                            })
                        }).done(function (data, textStatus, jqXHR) {
                            if (data !== 'success') {
                                swal.fire('', data, 'error');
                                return;
                            }
                            swal.fire({ title: 'Success', text: 'Data deleted', icon: 'success', timer: 2000, showConfirmButton: false });
                        }).fail(function (jqXHR, textStatus, errorThrown) {
                            swal.fire('Error', (jqXHR.responseText !== '' ? ': ' + jqXHR.responseText : ''), 'error');
                        }).always(function (data_or_jqXHR, textStatus, jqXHR_or_errorThrown) {
                            o.dom.$grid.data('kendoGrid').dataSource.read();
                        });
                    }
                });
            },
            onClickBtnExcel: function () {
                var o = this;
                o.dom.$grid.data('kendoGrid').saveAsExcel();
            },
            onClickBtnUpdate: function (e) {
                var o = this;
                var di = o.dom.$grid.data('kendoGrid').dataItem($(e.target).closest('tr'));
                o.dom.inputs.$inputRFIDNo.val(di.RFID_No);
                o.dom.inputs.$inputRFIDType.data("kendoDropDownList").value(di.RFID_Type);
                o.dom.inputs.$inputSupplier.data("kendoDropDownList").value((di.Supplier).trim());
                document.getElementById("RFID").disabled = true;

                var modal = document.getElementById("myModal");
                modal.style.display = "block";
                window.onclick = function (event) {
                    if (event.target == modal) {
                        modal.style.display = "none";
                    }
                }
                var cancel = document.getElementById("btnCancel");
                cancel.onclick = function () {
                    modal.style.display = "none";
                }
            }
        },
        init: function () {
            var o = this;
            o.cacheDom();
            o.attachEvents();
            o.initElements();
        },
        initElements: function () {
            var o = this;

            o.dom.$grid.kendoGrid({
                excel: {
                    fileName: "Master RFID.xlsx",
                    allPages: true,
                    filterable: true
                },
                dataSource: {
                    transport: {
                        read: function (options) {
                            $.ajax({
                                method: 'post',
                                headers: { 'Content-Type': 'application/json', 'XApiKey': 'pgH7QzFHJx4w46fI~5Uzi4RvtTwlEXp' },
                                url: 'https://localhost:7072/api/MasterRFID/INQ',
                                dataType: 'text',
                                data: {}
                            }).done(function (data, textStatus, jqXHR) {
                                try {
                                    var result = JSON.parse(data);
                                }
                                catch (e) {
                                    swal.fire('Error', 'Error loading grid', 'error');
                                    options.success({ data: [] });
                                    return;
                                }
                                options.success(result);
                            }).fail(function (jqXHR, textStatus, errorThrown) {
                                swal.fire('Error', (jqXHR.responseText !== '' ? ': ' + jqXHR.responseText : ''), 'error');
                                options.success({ data: [] });
                            });
                        }
                    },
                    schema: {
                        model: {
                            id: "RFID_No",
                            fields: {
                                RFID_No: { type: "string" },
                                RFID_Type: { type: "string" },
                                Supplier: { type: "string" },
                                SupplierName: { type: "string" }
                            }
                        }
                    },
                    pageSize: 20
                },
                scrollable: true,
                sortable: true,
                resizable: true,
                reorderable: true,
                filterable: {
                    extra: false,
                    operators: {
                        string: {
                            contains: "Contains",
                            eq: "Equal to",
                            neq: "Not equal to"
                        }
                    }
                },
                pageable: {
                    refresh: true,
                    input: true,
                    numeric: true,
                    pageSizes: true,
                    buttonCount: 5
                },
                columns: [{
                    width: 50,
                    command: [{
                        name: "Update",
                        text: "<i class='fas fa-edit btnUpdate' title='Update' style='font-size:18px;'></i>"
                    }]
                },
                {
                    width: 50,
                    command: [{
                        name: "Delete",
                        text: "<i class='fas fa-trash btnDelete red' title='Delete' style='font-size:18px;'></i>"
                    }]
                },
                {
                    field: "RFID_No",
                    title: "RFID No",
                    width: 70
                },
                {
                    field: "RFID_Type",
                    title: "Box Type",
                    width: 120
                },
                {
                    field: "Supplier",
                    title: "Supplier",
                    width: 120
                },
                {
                    field: "SupplierName",
                    title: "Supplier Name",
                    width: 120
                }],
                toolbar: $("#template_toolbar").html(),
            });

            $("#Supplier").kendoDropDownList({
                template: '<span> #:data.Supplier_Code# - #:data.Supplier_Name#</span>',
                valueTemplate: '<span> #:data.Supplier_Code# - #:data.Supplier_Name#</span>',
                footerTemplate: 'Total number of <strong>#: instance.dataSource.total() #</strong> Supplier found',
                dataValueField: "Supplier_Code",
                optionLabel: "select supplier...",
                dataSource: {
                    transport: {
                        read: function (options) {
                            $.ajax({
                                method: 'post',
                                headers: { 'Content-Type': 'application/json', 'XApiKey': 'pgH7QzFHJx4w46fI~5Uzi4RvtTwlEXp' },
                                url: 'https://localhost:7072/api/MasterSupplier/INQ',
                                dataType: 'text',
                                data: {}
                            }).done(function (data, textStatus, jqXHR) {
                                try {
                                    var result = JSON.parse(data);
                                }
                                catch (e) {
                                    swal.fire('Error', 'Error loading supplier', 'error');
                                    options.success({ data: [] });
                                    return;
                                }
                                options.success(result);
                            }).fail(function (jqXHR, textStatus, errorThrown) {
                                swal.fire('Error', (jqXHR.responseText !== '' ? ': ' + jqXHR.responseText : ''), 'error');
                                options.success({ data: [] });
                            });
                        }
                    }
                }
            }).data("kendoDropDownList");

            $("#RFID_Type").kendoDropDownList({
                template: '<span> #:data.RFID_Type#</span>',
                valueTemplate: '<span> #:data.RFID_Type#</span>',
                footerTemplate: 'Total number of <strong>#: instance.dataSource.total() #</strong> BoxType found',
                dataValueField: "RFID_Type",
                optionLabel: "select box type...",
                dataSource: {
                    transport: {
                        read: function (options) {
                            $.ajax({
                                method: 'post',
                                headers: { 'Content-Type': 'application/json', 'XApiKey': 'pgH7QzFHJx4w46fI~5Uzi4RvtTwlEXp' },
                                url: 'https://localhost:7072/api/MasterBoxType/INQ',
                                dataType: 'text',
                                data: {}
                            }).done(function (data, textStatus, jqXHR) {
                                try {
                                    var result = JSON.parse(data);
                                }
                                catch (e) {
                                    swal.fire('Error', 'Error loading box type', 'error');
                                    options.success({ data: [] });
                                    return;
                                }
                                options.success(result);
                            }).fail(function (jqXHR, textStatus, errorThrown) {
                                swal.fire('Error', (jqXHR.responseText !== '' ? ': ' + jqXHR.responseText : ''), 'error');
                                options.success({ data: [] });
                            });
                        }
                    }
                }
            }).data("kendoDropDownList");

            $("#submitMasterRFID").submit(function (e) {
                e.preventDefault(); // avoid to execute the actual submit of the form.

                var RFIDNo = document.getElementById("RFID").value.split('\n').join(';');
                var RFIDType = document.getElementById("RFID_Type").value;
                var Supplier = document.getElementById("Supplier").value;

                swal.fire({
                    title: "Save?",
                    icon: 'question',
                    showCancelButton: true,
                    confirmButtonText: 'Yes'
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            method: 'post',
                            headers: { 'Content-Type': 'application/json', 'XApiKey': 'pgH7QzFHJx4w46fI~5Uzi4RvtTwlEXp' },
                            url: 'https://localhost:7072/api/MasterRFID/INS',
                            dataType: 'text',
                            data: JSON.stringify({
                                RFID_No: RFIDNo,
                                RFID_Type: RFIDType,
                                Supplier: Supplier,
                                UserLogin: 'admin'
                            })
                        }).done(function (data, textStatus, jqXHR) {
                            if (data !== 'success') {
                                swal.fire('Error', data, 'error');
                                return;
                            }
                            var modal = document.getElementById("myModal");
                            modal.style.display = "none";
                            swal.fire({ title: 'Success', text: 'Data saved', icon: 'success', timer: 2000, showConfirmButton: false });
                        }).fail(function (jqXHR, textStatus, errorThrown) {
                            swal.fire('Error', (jqXHR.responseText !== '' ? ': ' + jqXHR.responseText : ''), 'error');
                        }).always(function (data_or_jqXHR, textStatus, jqXHR_or_errorThrown) {
                            $("#grid").data("kendoGrid").dataSource.read();
                        });
                    }
                });
            });
        }
    };

    $(function () {
        AppD.init();
    });
</script>

<script type="text/x-kendo-template" id="template_toolbar">
    <div class="toolbar">
        <button data-toggle="tooltip" title="Create" type="button" class="btn ink-reaction btn-floating-action btn-xs " id="btnCreate">
            <i class="k-icon k-i-plus"></i> Add New
        </button>
        <div class = "spacew"></div>
		<button data-toggle="tooltip" title="Save as Excel" type="button" class="btn ink-reaction btn-floating-action btn-xs green" id="btnExcel">
			<i class="k-icon k-i-excel"></i> Save As Exel
		</button>
    </div>
</script>