
@{
    ViewData["Title"] = "GR Pro.";
}

<style>
    .flex {
        display: flex;
    }

    .k-grid-footer {
        display: none;
    }

    .page-main {
        margin-top: 100px;
        margin-left: 30px;
    }

    .k-grid {
        border-color: #fafafa;
        font-size: 13px;
    }

    .k-toolbar {
        background-color: white;
    }

    .k-grid-content {
        height: 55vh;
    }

    .btn {
        background-color: #325082;
        color: white;
    }

    .green {
        background-color: #1D6F42 !important;
        color: white;
    }

    .spacew {
        width: 10px;
    }

    /* The Modal (background) */
    #myModal {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        padding-top: 100px;
        /* Location of the box */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4);
        /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        position: absolute;
        float: left;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        width: 50%;
    }

    /* The Close Button */
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }

    hr {
        background-color: #aaaaaa !important;
    }

    @@media screen and (max-height: 1400px) {
        .page-main {
            margin-top: 70px;
        }

        .k-grid-content {
            height: 45vh;
        }
    }

    #qr_code{
        border-style: solid;
        border-color: #000000;
        display:none;
    }
</style>

<div id="qr_code"></div>
<div class="page-main">
    <div class="page-content">
        <h3>GR Pro.</h3>
        <hr>
        <div id="grid" style="margin-top:5px; margin-bottom:5px;"></div>
        <!-- The Modal -->
        <div id="myModal" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
                <div class="" role="document">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Search Filter</h4>
                    </div>
                    <div class="modal-body">
                        <div class="panel">
                            <div class="panel-body">
                                <form class="form-horizontal" id="submitGRPro">
                                    <div class="flex">
                                        <div class="form-group form-material col-md-6">
                                            <label class="col-sm-10 control-label">Shift</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="ShiftID" required />
                                            </div>
                                        </div>
                                        <div class="form-group form-material col-md-6">
                                            <label class="col-sm-10 control-label">Dummy/Vacum</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="GRProType" required />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex">
                                        <div class="form-group form-material col-md-6">
                                            <label class="col-sm-10 control-label">Period From</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="Period_From" required />
                                            </div>
                                        </div>

                                        <div class="form-group form-material col-md-6">
                                            <label class="col-sm-10 control-label">Period To</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="Period_To" required />
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <div>
                                        <button type="button" class="btn btn-red" id="btnCancel">Cancel</button>
                                        <input class="btn btn-primary" id="btnSave" value="Search" type="submit" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    var dateDefault = new Date();
    $("#Period_From").kendoDatePicker({
        format: 'dd/MM/yyyy',
        value: dateDefault,
        //change: o.eventHandlers.onChangeDate.bind(o)
    });
    $("#Period_To").kendoDatePicker({
        format: 'dd/MM/yyyy',
        value: dateDefault,
        //change: o.eventHandlers.onChangeDate.bind(o)
    });

    $("#ShiftID").kendoDropDownList({
        template: '<span>#:data.PlantID# - #:data.PlantName#</span>',
        valueTemplate: '<span>#:data.PlantID# - #:data.PlantName#</span>',
        footerTemplate: 'Total number of <strong>#: instance.dataSource.total() #</strong> Plant found',
        optionLabel: "select user group...",
        dataValueField: "PlantID",
        dataSource: {
            transport: {
                read: function (options) {
                    $.ajax({
                        method: 'post',
                        headers: { 'Content-Type': 'application/json', 'XApiKey': 'pgH7QzFHJx4w46fI~5Uzi4RvtTwlEXp' },
                        url: 'https://localhost:7072/api/DropDown/INQ',
                        dataType: 'text',
                        data: JSON.stringify({ Ftype: "Plant", Plant: "" })
                    }).done(function (data, textStatus, jqXHR) {
                        try {
                            var result = JSON.parse(data);
                        }
                        catch (e) {
                            swal.fire('Error', 'Error loading grid', 'error');
                            options.success({ data: [] });
                            return;
                        }
                        options.success(result);
                    }).fail(function (jqXHR, textStatus, errorThrown) {
                        swal.fire('Error', (jqXHR.responseText !== '' ? ': ' + jqXHR.responseText : ''), 'error');
                        options.success({ data: [] });
                    });
                }
            }
        },
        change: function (e) {
            var value = this.value();
            getShop(value);
            // Use the value of the widget
        }
    }).data("kendoDropDownList");

    function getShop(plant) {

        $("#GRProType").kendoDropDownList({
            template: '<span>#:data.ShopId# - #:data.ShopName#</span>',
            valueTemplate: '<span>#:data.ShopId# - #:data.ShopName#</span>',
            footerTemplate: 'Total number of <strong>#: instance.dataSource.total() #</strong> Shop found',
            optionLabel: "select Building...",
            dataValueField: "ShopId",
            dataSource: {
                transport: {
                    read: function (options) {
                        $.ajax({
                            method: 'post',
                            headers: { 'Content-Type': 'application/json', 'XApiKey': 'pgH7QzFHJx4w46fI~5Uzi4RvtTwlEXp' },
                            url: 'https://localhost:7072/api/DropDown/INQ',
                            dataType: 'text',
                            data: JSON.stringify({ Ftype: "Shop", Plant: plant })
                        }).done(function (data, textStatus, jqXHR) {
                            try {
                                var result = JSON.parse(data);
                            }
                            catch (e) {
                                swal.fire('Error', 'Error loading grid', 'error');
                                options.success({ data: [] });
                                return;
                            }
                            options.success(result);
                        }).fail(function (jqXHR, textStatus, errorThrown) {
                            swal.fire('Error', (jqXHR.responseText !== '' ? ': ' + jqXHR.responseText : ''), 'error');
                            options.success({ data: [] });
                        });
                    }
                }
            },
            change: function (e) {
                var value = this.value();
                getDept(plant, value);
                // Use the value of the widget
            }
        }).data("kendoDropDownList");
    }

    var AppD = {
        attachEvents: function () {
            var o = this;

            o.dom.$grid.on('click', '#btnCreate', o.eventHandlers.onClickBtnCreate.bind(o));
            o.dom.$grid.on('click', '#btnExcel', o.eventHandlers.onClickBtnExcel.bind(o));
            
			o.dom.$grid.on('click', '.btnUpdate', o.eventHandlers.onClickBtnUpdate.bind(o));
            o.dom.$grid.on('click', '.btnDelete', o.eventHandlers.onClickBtnDelete.bind(o));
            o.dom.$grid.on('click', '.btnQR', o.eventHandlers.onClickbtnQR.bind(o));
        },
        cacheDom: function () {
            var o = this;
            o.dom.$grid = $("#grid");
            o.dom.inputs = {};
            o.dom.inputs.$inputMaterialNo = $("#MaterialNo");
            o.dom.inputs.$inputJobNo = $("#JobNo");
            o.dom.inputs.$inputMaterialName = $("#MaterialName");
            o.dom.inputs.$inputMaterialDescription = $("#MaterialDescription");
            o.dom.inputs.$inputQtyPerBox = $("#QtyPerBox");
        },
        data: {},
        dom: {},
        eventHandlers: {

            onClickBtnCreate: function () {
                var o = this;
                getShop('X');
                $("#myModalLabel").html("Add New Part");
                o.dom.inputs.$inputMaterialNo.val('');
                o.dom.inputs.$inputJobNo.val('');
                o.dom.inputs.$inputMaterialName.val('');
                o.dom.inputs.$inputMaterialDescription.val('');
                o.dom.inputs.$inputQtyPerBox.val('');

                var modal = document.getElementById("myModal");
                modal.style.display = "block";
                window.onclick = function (event) {
                    if (event.target == modal) {
                        modal.style.display = "none";
                    }
                }
                var cancel = document.getElementById("btnCancel");
                cancel.onclick = function () {
                    modal.style.display = "none";
                }
            },
			onClickBtnUpdate: function (e) {
				var o = this;
                     
				var di = o.dom.$grid.data('kendoGrid').dataItem($(e.target).closest('tr'));
                $("#myModalLabel").html("Edit Part");
				o.dom.inputs.$inputMaterialNo.val(di.MaterialNo);
				o.dom.inputs.$inputJobNo.val(di.JobNo);
				o.dom.inputs.$inputMaterialName.val(di.MaterialName);
				o.dom.inputs.$inputMaterialDescription.val(di.MaterialDescription);
				o.dom.inputs.$inputQtyPerBox.val(di.QtyPerBox);

				var modal = document.getElementById("myModal");
				modal.style.display = "block";
				window.onclick = function (event) {
					if (event.target == modal) {
						modal.style.display = "none";
					}
				}
				var cancel = document.getElementById("btnCancel");
				cancel.onclick = function () {
					modal.style.display = "none";
				}
			},
            onClickbtnQR: function (e) {
                var o = this;
                var di = o.dom.$grid.data('kendoGrid').dataItem($(e.target).closest('tr'));
                var textValue =  di.PartNumber + "#" + di.PartName + "#" + di.PartDescription;

                $("#qr_code").html("");  
                $('#qr_code').qrcode(textValue);
                var canvas = document.querySelector("#qr_code canvas");
                var img = canvas.toDataURL("image/png");
                var fileName = di.PartNumber + "_" + di.PartName;
                         
                var pdf = new jsPDF({
                    orientation: "landscape",
                    unit: "mm",
                    format: [210,297]
                });
                            
                pdf.setLineWidth(0.3);                             
                pdf.line(10, 5, 287, 5);                pdf.line(10, 44.5, 287, 44.5);                pdf.line(10, 45.5, 287, 45.5);
                pdf.line(10, 84.5, 287, 84.5);          pdf.line(10, 85.5, 287, 85.5);                pdf.line(10, 124.5, 287, 124.5);
                pdf.line(10, 125.5, 287, 125.5);        pdf.line(10, 164.5, 287, 164.5);              pdf.line(10, 165.5, 287, 165.5);
                pdf.line(10, 205, 287, 205);            pdf.line(10, 5, 10, 205);                     pdf.line(287, 5, 287, 205);
                pdf.line(149, 5, 149, 205);             pdf.line(148, 5, 148, 205);

                var y = 10; var z = 10; var rright = 0;
                for (i = 0; i < 5; i++) {      
                    rright = 10;
                    for (x = 0; x < 2; x++) {
                        pdf.addImage(img, 'png', 5 + rright, y, 30, 30);
                                                
                        pdf.setFontSize(8);
                        pdf.text('Part No', 37 + rright, y+2);
                        pdf.text('Part Name', 37 + rright, y + 11);
                        pdf.text('Part Description', 37 + rright, y + 19);

                        pdf.setFontSize(14);
                        pdf.text(di.MaterialNo, 37 + rright, y+7);

                        pdf.setFontSize(10);
                        pdf.text(di.MaterialName , 37 + rright, y+15);
                        pdf.text(di.MaterialDescription, 37 + rright, y+23);
                        rright = 148.5;
                    }
                    y += 40;
                }
                pdf.save('QR' + fileName + '.pdf');
            },
            onClickBtnDelete: function (e) {
                var o = this;
                var di = o.dom.$grid.data('kendoGrid').dataItem($(e.target).closest('tr'));

                swal.fire({
                    title: 'Delete?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Yes'
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            method: 'post',
                            headers: { 'Content-Type': 'application/json', 'XApiKey': 'pgH7QzFHJx4w46fI~5Uzi4RvtTwlEXp' },
                            url: 'https://localhost:7072/api/GRPro/DEL',
                            dataType: 'text',
                            data: JSON.stringify({
                                MaterialNo: di.MaterialNo
                            })
                        }).done(function (data, textStatus, jqXHR) {
                            if (data !== 'success') {
                                swal.fire('', data, 'error');
                                return;
                            }
                            swal.fire({ title: 'Success', text: 'Data deleted', icon: 'success', timer: 2000, showConfirmButton: false });
                        }).fail(function (jqXHR, textStatus, errorThrown) {
                            swal.fire('Error', (jqXHR.responseText !== '' ? ': ' + jqXHR.responseText : ''), 'error');
                        }).always(function (data_or_jqXHR, textStatus, jqXHR_or_errorThrown) {
                            o.dom.$grid.data('kendoGrid').dataSource.read();
                        });
                    }
                });
            },
            onClickBtnExcel: function () {
                var o = this;
                o.dom.$grid.data('kendoGrid').saveAsExcel();
            }
        },
        init: function () {
            var o = this;
            o.cacheDom();
            o.attachEvents();
            o.initElements();
        },
        initElements: function () {
            var o = this;

            o.dom.$grid.kendoGrid({
                excel: {
                    fileName: "GR Pro.xlsx",
                    allPages: true,
                    filterable: true
                },
                dataSource: {
                    transport: {
                        read: function (options) {
                            $.ajax({
                                method: 'post',
                                headers: { 'Content-Type': 'application/json', 'XApiKey': 'pgH7QzFHJx4w46fI~5Uzi4RvtTwlEXp' },
                                url: 'https://localhost:7072/api/GRPro/INQ',
                                dataType: 'text',
                                data: JSON.stringify({
                                    GRProType: 'Dummy',
                                    Shift : '001',
                                    PeriodFrom : '20230101',
                                    PeriodTo : '20230201'

                                })
                            }).done(function (data, textStatus, jqXHR) {
                                try {
                                    var result = JSON.parse(data);
                                    console.log(data);
                                }
                                catch (e) {
                                    swal.fire('Error', 'Error loading grid', 'error');
                                    options.success({ data: [] });
                                    return;
                                }
                                options.success(result);
                            }).fail(function (jqXHR, textStatus, errorThrown) {
                                swal.fire('Error', (jqXHR.responseText !== '' ? ': ' + jqXHR.responseText : ''), 'error');
                                options.success({ data: [] });
                            });
                        }
                    },
                    schema: {
                        model: {
                            id: "MaterialNo",
                            fields: {
                                GRProId: { type: "string" },
                                ProdDate: { type: "string" },
                                ProdShift: { type: "string" },
                                GRProType: { type: "string" },
                                SAPStatus: { type: "string" },
                                PartNumber: { type: "string" },
                                PartDesc: { type: "string" },
                                Qty: { type: "string" },
                                GRPro: { type: "string" },
                                SAPPostingDate: { type: "string" },
                                UserUpdate: { type: "string" },
                                DateUpdate: { type: "string" },
                            }
                        }
                    },
                    pageSize: 20
                },
                scrollable: true,
                sortable: true,
                resizable: true,
                reorderable: true,
                filterable: {
                    extra: false,
                    operators: {
                        string: {
                            contains: "Contains",
                            eq: "Equal to",
                            neq: "Not equal to"
                        }
                    }
                },
                pageable: {
                    refresh: true,
                    input: true,
                    numeric: true,
                    pageSizes: true,
                    buttonCount: 5
                },
                columns: [
                    {
                        field: "",
                        title: "Flag",
                        width: 50
                    },
                    @if(Context.Session.GetString("edit_master_part") == "True")
                    {
                        <text>
                        {
                            width: 70,
                            command: [{
                                name: "Update",
                                text: "<i class='fas fa-edit btnUpdate' title='Update' style='font-size:18px;'></i>"
                            }]
                        },
                        </text>
                    }
                    {
                        field: "",
                        title: "Status SAP",
                        width: 80
                    },
                    {
                        field: "",
                        title: "Part No",
                        width: 120
                    },
                    {
                        field: "",
                        title: "Part Desc",
                        width: 120
                    },
                    {
                        field: "",
                        title: "Qty Prod",
                        width: 200
                    },
                    {
                        field: "",
                        title: "GR Pro",
                        width: 200
                    },
                    {
                    title: "Last Update",
                        columns: [
                        {
                            field: "UserUpdate",
                            title: "User",
                            width: 120
                        },
                        {
                            field: "DateUpdate",
                            title: "Date",
                            width: 150
                        }]
                    },
                    {
                        field: "",
                        title: "Shift",
                        width: 200
                    },
                    {
                        field: "",
                        title: "GR Pro Posting Date",
                        width: 200
                    },
                    {
                        field: "",
                        title: "SAP Posting GR date",
                        width: 200
                    },
                    
                ],
                toolbar: $("#template_toolbar").html(),
            });

            $("#submitGRPro").submit(function (e) {
                e.preventDefault(); // avoid to execute the actual submit of the form.

                var MaterialNo = $("#MaterialNo").val();
                var JobNo = $("#JobNo").val();
                var MaterialName = $("#MaterialName").val();
                var MaterialDescription = $("#MaterialDescription").val();
                var QtyPerBox = $("#QtyPerBox").val();
                swal.fire({
                    title: "Save?",
                    icon: 'question',
                    showCancelButton: true,
                    confirmButtonText: 'Yes'
                }).then((result) => {
                    if (result.isConfirmed) {

                        $.ajax({
                            method: 'post',
                            headers: { 'Content-Type': 'application/json', 'XApiKey': 'pgH7QzFHJx4w46fI~5Uzi4RvtTwlEXp' },
                            url: 'https://localhost:7072/api/GRPro/INS',
                            dataType: 'text',
                            data: JSON.stringify({
                                MaterialNo      : MaterialNo,
                                JobNo           : JobNo,
                                MaterialName    : MaterialName,
                                MaterialDescription : MaterialDescription,
                                QtyPerBox       : QtyPerBox,
                                UserLogin       : "@Context.Session.GetString("PIC_ID")"
                            })
                        }).done(function (data, textStatus, jqXHR) {         
                            if (data !== 'success') {
                                swal.fire('Error', data, 'error');
                                return;
                            }
                            var modal = document.getElementById("myModal");
                            modal.style.display = "none";
                            swal.fire({ title: 'Success', text: 'Data saved', icon: 'success', timer: 2000, showConfirmButton: false });
                        }).fail(function (jqXHR, textStatus, errorThrown) {
                            swal.fire('Error', (jqXHR.responseText !== '' ? ': ' + jqXHR.responseText : ''), 'error');
                        }).always(function (data_or_jqXHR, textStatus, jqXHR_or_errorThrown) {
                            $("#grid").data("kendoGrid").dataSource.read();
                        });
                    }
                });
            });
        }
    };

    $(function () {
        AppD.init();
    });
</script>

<script type="text/x-kendo-template" id="template_toolbar">
    <div class="toolbar">
         <button data-toggle="tooltip" title="Save as Excel" type="button" class="btn ink-reaction btn-floating-action btn-xs green" id="btnExcel">
            <i class="k-icon k-i-excel"></i><span>Save as Excel</span>
        </button>
                <div class = "spacew"></div>
    @if (Context.Session.GetString("add_master_part") == "True")
    {
                <button data-toggle="tooltip" title="Print" type="button" class="btn ink-reaction btn-floating-action btn-xs " id="btnDummy">
                    <i class="k-icon k-i-print"></i><span>Print Dummy</span>
                </button>
                <div class = "spacew"></div>
                <button data-toggle="tooltip" title="Print" type="button" class="btn ink-reaction btn-floating-action btn-xs " id="btnVaccum">
                    <i class="k-icon k-i-print"></i><span>Print Vaccum</span>
                </button>
                <div class = "spacew"></div>
    }
                <button data-toggle="tooltip" title="Search" type="button" class="btn ink-reaction btn-floating-action btn-xs " id="btnCreate">
                    <i class="k-icon k-i-search"></i><span>Search</span>
                </button>
                <div class = "spacew"></div>
       
    </div>
</script>